<html>
	<head>
		<title>Mjailton projetos</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="caixa">
			<form action="" method="">
				<label><h1>A:</h1> <input type="text" placeholder="01"></label>
				<label><h1>B:</h1> <input type="text" placeholder="02"></label>
				<label><h1>C:</h1> <input type="text" placeholder="03"></label>
				
				<input type="submit" value="" class="btn">
				
				<div class="resultado">
					<span>Delta > 0, duas raízes reais e diferentes</span>
					<h2>X<small>1</small> = 0</h2>
					<h2>X<small>2</small> = 0</h2>
				</div>
			</form>
		</div>
	</body>
</html>